<title>My application deployed automatically</title>
  <h1>Merge Sort!</h1>
    Please press enter after writing each number
	then click enter for sorting


  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30">
        </textarea>
        <textarea name="input2" rows="10" cols="30">
        </textarea>
        <br>
        <input type="submit">
  </form>
